#elementList {
    padding: var(--common-padding);
}

.element-item {
    display: grid;
    grid-template-columns: 20px 30px 1fr 30px;

    grid-template-areas: "expand icon name visible";

    align-items: center;
    justify-content: space-between;
    
    padding: 5px;
    border-radius: var(--common-border-radius);

    position: relative;
    height: 40px;
}

.element-item:hover {
    background-color: var(--light-background-color);
}

.element-item:hover .element-item-add-button {
    display: block;
}


.element-item-add-button {
    display: none; 
    position: absolute;
    left: 100%;

    width: 40px;
    height: 40px;

    background-color: transparent;
    border: none;
    border-radius: var(--common-border-radius);
    padding: 15px;
    z-index: 10;
}

.element-item-add-button:hover {
    background-color: var(--light-background-color);
}

.element-item-add-button img {
    height: 100%;
    width: 100%;
}


.element-children {
    display: flex;
    flex-direction: column;
}

#selected {
    background-color: var(--lightest-background-color);
}

.add-element-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 10px;
    border-bottom: 1px solid black;
}

.element-left {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
}

.element-left span {
    font-size: 12px;
}

.expand-button {
    grid-area: "expand";
    padding: 5px;
}

.expand-button img {
    width: 100%;
    aspect-ratio: 1;
}

.element-icon {
    width: 30px;
    height: 30px;
    grid-area: "icon";
    padding: 5px;
}

.element-icon img {
    width: 100%;
    height: 100%;
}

.element-item span {
    font-size: 14px;
}