#gaugeCanvas {
    position: absolute;

    height: 80%;

    aspect-ratio: 1;

    transform: translate(-50%, -50%) scale(1);

    border-radius: 10000px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.zoom {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px; /* offset the RIGHT edge */
    align-items: center;
    gap: 10px;
}

.zoom-buttons {
    background-color: var(--background-color);
    display: flex;
}

.zoom-button {
    width: 30px;
    height: 30px;
}

.zoom-button img {
    width: 100%;
    height: 100%;
}