.gradient-container {
    width: 100%;
    margin: var(--common-padding) 0 var(--common-padding) 0;
    height: 21px;
    position: relative;
}

.gradient {
    width: 100%;
    height: 100%;
    border-radius: var(--common-border-radius);
    box-sizing: border-box;
    overflow: hidden;
    border: 2px solid black;
}

.gradient-stop-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gradient-stop {
    position: absolute;
    box-sizing: border-box;
    width: 8px;
    height: 120%;
    background-color: var(--text-color);
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 0 0 0 2px black; /* Cheap trick to make it look like it has 2 stroke, I really don't care */

    top: -10%;
    transform: translate(-50%, -50%);
    z-index: 3;

    transition: width 0.3s ease;
}

.gradient-position-indicator {
    position: relative;
    width: 8px;
    height: 100%;
    background: white;
    mix-blend-mode: difference;
    z-index: 2;
    transform: translateX(-50%); /* Center on position */
}