#toolbelt {
    display: flex;
    position: absolute;
    gap: 10px;

    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;

}

.toolbelt-divider {
    background-color: var(--light-background-color);
    width: 1px;
}

.toolbelt-group {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    display: flex;
    border: var(--light-background-color) 1px solid;
    background-color: var(--background-color);

    transition: width 0.3s cubic-bezier(0.4,0,0.2,1);
    overflow: hidden;

    border-radius: var(--common-border-radius);
}

.toolbelt-section {
    display: flex;
    gap: var(--common-padding);
    padding: 5px;
}

.toolbelt-button {
    width: var(--button-size);
    height: var(--button-size);

    padding: calc(var(--common-padding) / 2);
    border: none;
    background-color: transparent;
    border-radius: var(--common-border-radius);
}

.toolbelt-button img {
    width: 100%;
    height: 100%;
}

.toolbelt-button-options {
    width: 10px;
    height: var(--button-size);

    padding: calc(var(--common-padding) / 2);
    border: none;
    background-color: transparent;
    border-radius: var(--common-border-radius);
}

.toolbelt-button-options img {
    width: 10px;
    height: 10px;
}

#toolbeltMenu {
    width: 400px;
    height: 250px;
    position: absolute;
    bottom: calc(100% + var(--common-padding));
    left: 50%;
    transform: translateX(-50%);

    display: none;

    border: var(--light-background-color) 1px solid;
    background-color: var(--background-color);
    border-radius: var(--common-border-radius);
}

#toolbeltMenu.open {
    display: flex;
}



.toolbelt-element-preview {
    flex: 1;
    padding: 10px;
}

.toolbelt-element-preview-animation {
    width: 100%;
    aspect-ratio: 1;
}

.toolbelt-element-select {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex: 1;
    padding: 10px;
    border-right: 1px solid var(--light-background-color);
}

.toolbelt-element {
    width: 100%;
    padding: 10px;
    border-radius: var(--common-border-radius);
}

.toolbelt-element:hover {
    background-color: var(--light-background-color);
}

.hide-section {
    width: 0;
    border: none;
}