@import url("variables.css");

/* navbar.css or global.css */
.navbar {
    background-color: var(--dark-background-color);
    color: var(--text-color);
    box-shadow: 0 -5px 20px black;
    padding: 15px 0px;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    flex: 0 0 auto;
    height: 60px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 10%;
    margin-right: 10%;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar li {
    display: flex;
    align-items: center;
}

.navbar a {
    color: var(--text-color);
    transition: background-color 0.3s ease;

    text-decoration: none;
    border-radius: 4px;
}

.left-nav {
    display: flex;
    justify-content: flex-start;
}

.right-nav {
    display: flex;
    justify-content: flex-end;
}

.navbar a:hover {
    background-color: var(--light-background-color);
}

.profile-menu {
    position: relative;
    display: inline-block;
}

.profile-btn {
    padding: 0px;
    background: none;
    border: none;
}

.cart-button {
    padding: 0px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.profile-menu:hover .dropdown-content {
    display: block;
}