@import url("variables.css");

html {
  scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    background-color: var(--dark-background-color);
    font-family: 'Inter'; 
    margin: 0;
}

select {
    background-color: var(--dark-background-color);
    border-radius: var(--common-border-radius);
    color: var(--text-color);
    padding: var(--common-padding);

    border: none;
}

a {
    text-decoration: none;
    color: inherit; /* Inherit the color from the parent element */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.page-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.full-width {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.margined {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#heroBackground {
    position: absolute;
    width: 100%;
    height: 100%;
}

.page-header {
    background-color: var(--background-color);
}

.page-header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    gap: var(--common-padding);

    padding-top: var(--common-padding);
    padding-bottom: var(--common-padding);
}

.upload-button {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 0.5em 1em; /* add padding for shape */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.title {
    background-color: var(--background-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
  height: calc(100vh - 60px);
  position: relative;

  background-color: var(--darkest-background-color);
  /*
  background-image: url('/static/images/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.product-button {
    padding: var(--common-padding);
    background-color: transparent;
    border: var(--text-color) solid 2px;
    color: var(--text-color);
    border-radius: var(--common-border-radius);
    font-size: 20px;
}

.image-button {
    background-color: transparent;
    border: none;
    padding: 0;
}


.post-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-info-block {
    width: 100%;
}

p {
    margin: 0;
}

input[type="file"] {
    width: 100%;
    padding: var(--common-padding);
    border: 2px dotted #999;
    border-radius: var(--common-border-radius, 0.5rem);
    cursor: pointer;
    box-sizing: border-box;
}

.form-row label {
    flex: 0 0 25%;  /* fixed width: 25% */
    max-width: 25%;
}

.form-row input,
.form-row textarea,
.form-row select {
    flex: 1 1 75%;
    min-width: 0;
}