<html> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css" /> 
        <link rel="stylesheet" href="/static/css/cart.css" /> 

        <link rel="stylesheet" href="/static/css/navbar.css" /> 
        <link rel="stylesheet" href="/static/css/footer.css" /> 

        <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
        <title>Workshop</title>
    </head>
    <body> 
        <!-- Navigation bar -->
        {% include 'navbar.html' %}

        <div class="page">
            <div class="page-header">
                <div class = "page-header-content margined">
                    <!-- Title and action-->
                    <div class="title">
                        <h1>ADMIN</h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        {% include 'footer.html' %}
    </body> 

</html>
