<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ post.title }}</title>

        <link rel="stylesheet" href="/static/css/navbar.css" /> 
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/comments.css">

        <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body>
        <!-- Navigation bar -->
        {% include 'navbar.html' %}

        <div class="page">
            <div class="page-header">
                <div class = "page-header-content margined">
                    <div class="title">
                        <h1>{{ post.title }}</h1>
                    </div>
                </div>
            </div>

            <div class="page-content margined">
                <div style="display: flex; justify-content: center; padding-top: 10px; padding-bottom: 10px;">
                    <canvas style="border-radius: 10000px; box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);" id="gaugeCanvas" width="600" height="600"></canvas>
                </div>
            </div>

            <div class="page-content post-content" style="background-color: var(--background-color);">
                <div class="margined">
                    <div class="post-info-block">
                        <div style="padding-top: 10px; padding-bottom: 10px; display: flex; justify-content: space-between;">
                            <div>
                                <h2 style="margin: 0;">{{ post.title }}</h2>
                                <h3 style="margin: 0;">by <a href="/user/{{ post.posted_by }}">{{ posted_by_username }}</a></h3>
                            </div>
                            <h3 style="margin: 0;">Posted: {{ post.posted_at }}</h3>
                        </div>

                        <!-- Buttons div -->
                        <div style="display: flex; gap: 10px; padding-top: 10px; padding-bottom: 10px;">
                            <!-- Like button -->
                            <form id="like-form" action="/workshop/{{ post.id }}/like" method="post" onsubmit="handleLike(event)">
                                <button type="submit" id="like-button" style="border: none; background: none; padding: 0;">
                                    <img id="like-image" src="{{ url_for('static', filename='images/liked.png' if has_liked else 'images/not_liked.png') }}"
                                        alt="Like"
                                        width="25"
                                        height="25">
                                </button>
                            </form>
                            <p id="like-count">{{ likes }} likes</p>

                            <!-- Favorite button -->
                            <form id="favorite-form" action="/workshop/{{ post.id }}/favorite" method="post" onsubmit="handleFavorite(event)">
                                <button type="submit" id="favorite-button" style="border: none; background: none; padding: 0;">
                                    <img id="favorite-image" src="{{ url_for('static', filename='images/favorited.png' if has_favorited else 'images/not_favorited.png') }}"
                                        alt="Favorite"
                                        width="25"
                                        height="25">
                                </button>
                            </form>
                            <p id="favorite-count">{{ favorites }} favorites</p>

                            <!-- Download button -->
                            <a href="/workshop/{{ post.id }}/download" class="button">
                                <img src="/static/images/download.png"
                                    alt="Download"
                                    width="25"
                                    height="25">
                            </a>
                            <p id="download-count">{{ post.downloads }} downloads</p>

                            <!-- Feature button -->
                            {% if current_user.is_authenticated and current_user.is_moderator() %}
                                <form id="feature-form" action="/workshop/{{ post.id }}/feature" method="post" onsubmit="handleFeature(event)">
                                    <button type="submit" id="feature-button" style="border: none; background: none; padding: 0;">
                                        <img id="feature-image"
                                            src="{{ url_for('static', filename='images/featured.png' if post.is_featured() else 'images/not_featured.png') }}"
                                            alt="Feature"
                                            width="25"
                                            height="25">
                                    </button>
                                </form>
                            {% endif %}
                        </div>

                        <p>{{ post.description }}</p>
                    </div>

                    <div class="post-comment-block" id="comments-section">
                        <!-- Comment form -->
                        <form class="comment-form" id="comment-form" action="/workshop/{{ post['id'] }}/comment" method="post">
                            <textarea class="comment-box" name="content" placeholder="Add a comment" id="comment-text"></textarea>
                            <div style="display: flex; justify-content: right;">
                                <button class="comment-button" type="submit">Comment</button>
                            </div>
                        </form>

                        <div id="comments-list">
                            {% for comment in comments %}

                            <div class="comment">
                                <div style="display: flex; justify-content: space-between;">
                                    <p><strong><a href="/user/{{ comment.user.id }}">{{ comment.user.username }}</a></strong></p>
                                    <p>{{ comment.how_long_ago() }}</p>
                                </div>
                                <div>{{ comment['content'] }}</div>
                                <div style="display: flex; align-items: center; gap: 10px;">
                                    <div style="display: flex; align-items: center;">
                                        <img src="/static/images/not_liked.png" style="width: 25px; height: 25px;">
                                        <p>0</p>
                                    </div>
                                    <button>Reply</button>
                                </div>
                            </div>

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <script>
            var postData = {{ post.data | tojson}};

            function handleLike(event) {
                event.preventDefault();  // Prevent the form from submitting in the traditional way

                const postId = {{ post.id }};
                const form = document.getElementById('like-form');
                
                // Send the form data via fetch using the POST method
                fetch(`/workshop/${postId}/like`, {
                    method: 'POST',
                    body: new FormData(form),
                    headers: {
                        'Accept': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    // Update the like button image based on the response
                    const likeImage = document.getElementById('like-image');
                    const likeCount = document.getElementById('like-count');
                    
                    if (data.liked) {
                        likeImage.src = "{{ url_for('static', filename='images/liked.png') }}";
                    } else {
                        likeImage.src = "{{ url_for('static', filename='images/not_liked.png') }}";
                    }

                    // Update the total like count
                    likeCount.textContent = `${data.total_likes} likes`;
                })
                .catch(error => console.error('Error:', error));
            }

            function handleFavorite(event) {
                event.preventDefault();  // Prevent the form from submitting in the traditional way

                const postId = {{ post.id }};
                const form = document.getElementById('favorite-form');
                
                // Send the form data via fetch using the POST method
                fetch(`/workshop/${postId}/favorite`, {
                    method: 'POST',
                    body: new FormData(form),
                    headers: {
                        'Accept': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    // Update the like button image based on the response
                    const favoriteImage = document.getElementById('favorite-image');
                    const favoriteCount = document.getElementById('favorite-count');
                    
                    if (data.favorited) {
                        favoriteImage.src = "{{ url_for('static', filename='images/favorited.png') }}";
                    } else {
                        favoriteImage.src = "{{ url_for('static', filename='images/not_favorited.png') }}";
                    }

                    // Update the total like count
                    favoriteCount.textContent = `${data.total_favorites} favorites`;
                })
                .catch(error => console.error('Error:', error));
            }

            function handleFeature(event) {
                event.preventDefault();

                const postId = {{ post.id }};
                const form = document.getElementById('feature-form');

                fetch(`/workshop/${postId}/feature`, {
                    method: 'POST',
                    body: new FormData(form),
                    headers: {
                        'Accept': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    const featureImage = document.getElementById('feature-image');
                    featureImage.src = data.featured
                        ? "{{ url_for('static', filename='images/featured.png') }}"
                        : "{{ url_for('static', filename='images/not_featured.png') }}";
                })
                .catch(error => console.error('Feature Error:', error));
            }
        </script>

        <script type="module" src="/static/js/gauge.js"></script>
    </body>
</html>
