<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/footer.css" /> 
        <link rel="stylesheet" href="/static/css/navbar.css" /> 
        <link rel="stylesheet" href="/static/css/style.css" /> 
        <link rel="stylesheet" href="/static/css/common.css" /> 

        <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

        <title>Upload Gauge Face</title>
    </head>
    <body>
        <!-- Navigation bar -->
        {% include 'navbar.html' %}

        <div class="page">
            <div class="page-header">
                <div class = "page-header-content margined">
                    <!-- Title and action-->
                    <div class="title">
                        <h1>UPLOAD</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content margined">
            <div class="flex-row">
                <div class="flex-col flex-2 justify-center">
                    <form action="/workshop/upload" method="POST" enctype="multipart/form-data" class="flex-col gap-common">
                        <div class="flex-row items-center form-row">
                            <label class="p-common">Title:</label>
                            <textarea name="title" rows="1" required></textarea>
                        </div>

                        <div class="flex-row items-center form-row">
                            <label class="p-common">File:</label>
                            <input name="data" type="file" accept=".gauge" required></input>
                        </div>

                        <div class="flex-row items-center form-row">
                            <label class="p-common">Descrition:</label>
                            <textarea name="description" rows="5" required></textarea>
                        </div>

                        <div class="flex-row items-center form-row">
                            <label class="p-common">Type:</label>
                            <select name="gauge-type" id="gauge-type">
                                <option value="tachometer">Tachometer</option>
                                <option value="speedometer">Speedometer</option>
                                <option value="boost">Boost</option>
                                <option value="temperature">Temperature</option>
                                <option value="fuel-level">Fuel Level</option>
                                <option value="voltmeter">Voltmeter</option>
                                <option value="other">Hybrid/Other</option>
                            </select>
                        </div>

                        <!-- Submit button-->
                        <button class="p-common w-full" type="submit">Upload</button>
                    </form>
                </div>

                <div class="flex-1 p-common">
                    <canvas id="gaugeCanvas" class="w-full square" style="background-color: var(--darker-background-color);"></canvas>
                </div>
            </div>
        </div>

        <!-- Footer -->
        {% include 'footer.html' %}

        <script type="module" src="/static/js/upload.js"></script>
    </body>
</html> 